/* A regra universal "*" define as propriedades de estilo para todos os elementos HTML */
/* A propriedade "margin" define a margem dos elementos */
/* O valor "0" especifica que não há margem */
/* A propriedade "padding" define o preenchimento dos elementos */
/* O valor "0" especifica que não há preenchimento */
/* A propriedade "box-sizing" define como a largura e a altura dos elementos são calculadas */
/* O valor "border-box" especifica que a largura e a altura incluem a borda */
/* A propriedade "font-family" define a família de fontes dos elementos */
/* Os valores "lato, sans-ser" especificam as fontes a serem usadas, com a fonte "lato" como preferida e a fonte "sans-ser" como fallback */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-ser;
}

/* A regra "@keyframes" define uma animação chamada "anim1" */
/* A animação altera a propriedade "background-color" do elemento de "green" para "red" */
@keyframes anim1 {
  from {
    background-color: green;
  }
  to {
    background-color: red;
  }
}

/* A regra ".teste" define as propriedades de estilo para os elementos com a classe "teste" */
/* A propriedade "width" define a largura dos elementos */
/* O valor "400px" especifica uma largura de 400 pixels */
/* A propriedade "height" define a altura dos elementos */
/* O valor "400px" especifica uma altura de 400 pixels */
/* A propriedade "background-color" define a cor de fundo dos elementos */
/* O valor "green" especifica uma cor de fundo verde */
/* A propriedade "animation-name" define o nome da animação a ser aplicada */
/* O valor "anim1" especifica a animação chamada "anim1" */
/* A propriedade "animation-duration" define a duração da animação */
/* O valor "3s" especifica uma duração de 3 segundos */
/* A propriedade "animation-delay" define o atraso da animação */
/* O valor "2s" especifica um atraso de 2 segundos */
/* A propriedade "animation-direction" define a direção da animação */
/* O valor "alternate" especifica que a animação alterna entre as direções de início e fim */
/* A propriedade "animation-iteration-count" define a quantidade de iterações da animação */
/* O valor "2" especifica duas iterações */
.teste {
  width: 400px;
  height: 400px;
  background-color: green;
  animation-name: anim1;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
